html, body {
  height: 100%;
}

div {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#instructions {
  width: 800px;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.message {
  word-wrap: break-word;
  width: 100%;
}

.horizontal {
  display: flex;
  flex-direction: row;
  /* align-items: stretch; */
  flex-wrap: wrap;
}

.status {
  padding: 10px;
}

#inputAmount {
  width: 40px;
}

